/* FetchCoins.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body {
  box-sizing: border-box;
  color: #220f5f;
  font-family:  sans-serif;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
  }
  
th, td {
    border: 1px solid #060606;
    padding: 8px;
    text-align: center;
  }
  
th {
    background-color: #f2f2f2;
  }
  
  /* Style the coin images */
  /* .coin-image {
    width: 32px;
    height: 32px;
    object-fit: cover;
  } */